
body {
    font-family: 'Open Sans', sans-serif;
}

.img {
    height: 220px;
    width: 160px;

}
.card {
    width: 65%;
    height: 260px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    position: relative;
    

}
.heart {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-right: 7px;
}
 #card-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;

}
#card-content {
    width: 75%;
    position: absolute;
    left: 210px;
    top: 10px;
    
}
.card-text {
    font-weight: bold;
}
.rating i{
    color: orange;
    font-size: 13px;
}
.rating span {
    font-size: 12px;
    color: orange;
}
.cargo p {
    font-weight: lighter;
}
.cargo span {
    color: green;
    
}
.discount {
    color: orange;
    font-weight: bold;
}
.price .undiscount {
    font-size: 17px;
    padding-top: 8px;
    text-decoration: line-through;
}
.pagination a {
    text-decoration: none;
    
}
.pagination .back a {
    color: gray;
}
.pagination li {
    list-style: none;

}
